images/logo.png filter=lfs diff=lfs merge=lfs -text
images/6.png filter=lfs diff=lfs merge=lfs -text
images/Anthropic[[:space:]]Logo.png filter=lfs diff=lfs merge=lfs -text
images/5.png filter=lfs diff=lfs merge=lfs -text
images/logo_reversed.png filter=lfs diff=lfs merge=lfs -text
images/10.png filter=lfs diff=lfs merge=lfs -text
images/2.png filter=lfs diff=lfs merge=lfs -text
images/4.png filter=lfs diff=lfs merge=lfs -text
images/8.png filter=lfs diff=lfs merge=lfs -text
images/Model[[:space:]]Context[[:space:]]Protocol[[:space:]]Diagram.png filter=lfs diff=lfs merge=lfs -text
images/aider_leaderboar.png filter=lfs diff=lfs merge=lfs -text
images/1.png filter=lfs diff=lfs merge=lfs -text
images/3.png filter=lfs diff=lfs merge=lfs -text
images/goose_logo.png filter=lfs diff=lfs merge=lfs -text
images/9.png filter=lfs diff=lfs merge=lfs -text
images/Cursor[[:space:]]Editor[[:space:]]Logo.png filter=lfs diff=lfs merge=lfs -text
images/Cursor[[:space:]]Editor[[:space:]]Logo.webp filter=lfs diff=lfs merge=lfs -text
images/aider_logo.svg filter=lfs diff=lfs merge=lfs -text
images/junie_logo.svg filter=lfs diff=lfs merge=lfs -text
slides.pdf filter=lfs diff=lfs merge=lfs -text
